body{
    display:flex;
    justify-content: center;
}
.container{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: center;
}
#messages{
    width:80%;
    border-radius:5px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.22);
    padding:30px 10px;
}
.msg-box{
    position: fixed;
    bottom:10px;
    width:100%;
    padding:10px;
    display: flex;
    justify-content: center;
}
.msg-box input{
    padding:10px;
    margin:0 10px;
}
.msg-box button{
    padding: 10px;
}